body{
    /* background: #fffed3; */
 
    background: linear-gradient(to right, rgb(255, 111, 0), rgb(53, 53, 255), rgb(0, 219, 252));
    /* background: radial-gradient(circle,red 20%,blue 40%, green 55%);  */
    font-size: 1.15em;
    text-align: justify;
    font-family: "Lato", sans-serif;
    text-transform: capitalize;

}


.title {
    color: rgb(49, 67, 157);
    font-family: "Sarabun", sans-serif;
}

.subtitle{
    color: rgb(0, 181, 247);
    font-family: "Sarabun", sans-serif;
}



/* body {
    background: url("https://i.natgeofe.com/n/2a832501-483e-422f-985c-0e93757b7d84/6.jpg");
} */

.fill-form{
    color: rgb(117, 189, 216)
}

