

body{
    /* background: url("https://i.natgeofe.com/n/2a832501-483e-422f-985c-0e93757b7d84/6.jpg"); */
    /* background: #fffed3; */
    /* background: linear-gradient(to right, rgb(255, 111, 0), rgb(53, 53, 255), rgb(0, 219, 252)); */
    /* background: radial-gradient(circle,red 20%,blue 40%, green 55%);  */
    text-align: center;
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    height: 1000px;
    
    
} 

.title {
    color: rgb(27, 0, 76);
    font-family: "Lato", sans-serif;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.624);
    font-size: 6em;
    font-weight: 800;
    display: inline;
}

#subtitle{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 1px rgb(0, 0, 0);
    font-size: 1.5em;
    font-weight: 600;
    font-family: "Sarabun", sans-serif;
    text-align: center;
    background: rgb(194, 142, 0);
    margin: 0px -8px 0px -8px;

}



.fill-form{
    /* color: rgb(117, 189, 216); */
    color :rgb(0, 0, 0);
    text-shadow: 0 0 5px rgb(255, 255, 255);
    font-family: "Sarabun", sans-serif;
    font-size: 1.5em;
    margin: 0 20% 0 20%;
    text-align: left;
}

#link{
    color: rgb(194, 142, 0);
    /* text-shadow: 0 0 2px rgb(0, 0, 0); */
}

#link:hover{
    color: rgb(250, 180, 40);
}


#login-img{
    height: 30%;
    width: 60%;
 
    /* border: 2px double rgba(3, 104, 237, 0.563); */
    text-align: center;

    /* animation-name: red-to-black;
    animation-duration: 4s;
    animation-timing-function: ease; */
    /* animation-delay: 2s; */
    /* animation-iteration-count: infinite;
     */
    /* padding: 20px; */
    /* padding-right: 20px;  */
    /* margin: 80px 40px; */
    /* float: left; */
    /* display: none; */
    /* display: inline-block; */
    /* display: inline; */
}
.reset-create-account{
    font-size: 0.8em;
}


.container{
    
    /* background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(74, 74, 74, 0.845),rgba(255, 255, 255, 0)); */
    background: rgb(0, 37, 88);
    margin: -8px -8px 0px -8px;

    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items: center;
   
}

.container-item:hover{
    font-size: 1.1em;
    text-shadow: 0 0 2px rgb(0, 0, 0);
}
.container-item{
    /* background-color: aquamarine; */
    /* background: none; */
    color: antiquewhite;
    
    font-size: 1em;
    text-align: center;
    
    width:100px;
    line-height: 50px;
    margin: 10px; 
}

.grid-container{
    background-color: rgb(250, 250, 250);
    margin: 10px;
    height: 500px;

    display: grid;
    /* grid-template-columns: 10px 50px 10px;
    grid-template-rows: 50px 250px; */
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    /* justify-content: space-evenly;
    align-content: space-around; */
    /* grid-column-gap: 150px;
    grid-row-gap: 300px; */
    /* grid-gap: 300px 150px; */
}

.grid-item{
    color: black;
    font-size: 25px;
    text-align: center;

    width: 70px;
    line-height: 40px;
    margin: 10px;
}

.text{
    border-color: black;
    padding: 6px;
}

.submit-button{
    margin: 20px 10px;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    font-family: "lato", sans-serif;
    font-weight: 20px;
    color: white;
    background:rgb(0, 37, 88);
    /* transition: background 300ms ease-in-out; */
    /* transition: all 300ms ease-in-out; */
    text-transform: capitalize;
    -webkit-transition: background, padding 300ms ease-in-out;
    -o-transition: background, padding 300ms ease-in-out;
    -moz-transition: background, padding 300ms ease-in-out;
    /* transform: translate(50px, -10px); */
    /* transform: scale(2.5); */
    /* transform: rotate(-45deg); */
    /* transform: skewY(45deg); */
    /* transform: matrix(1, 0.45, 0.45, 1, 100, 50); */


}
.submit-button:hover{
    background: rgb(20, 57, 108);
    padding: 12px 17px;


}
#logo{
    /* animation-name: red-to-black;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-duration:  */
    animation: red-to-black 4s linear 0s infinite alternate;
    -webkit-animation: red-to-black 4s linear 0s infinite alternate;
    -moz-animation: red-to-black 4s linear 0s infinite alternate;
    -ms-animation: red-to-black 4s linear 0s infinite alternate;
    -o-animation: red-to-black 4s linear 0s infinite alternate;

}
@keyframes red-to-black{
    /* 0% {color: rgb(255, 102, 0);
        transform: translate(0px,0px);
    }

    50% {color: rgb(174, 0, 255); 
        transform: translate(10px,10px);
    }

    100% {color: rgb(0, 242, 255); 
        transform: translate(20px,20px);
    } */
    0% {border: 2px double rgba(255, 102, 0, 0.563);
    }
    50% {  border: 2px double rgba(174, 0, 255, 0.563);

    }

    100% {  border: 2px double rgba(0, 242, 255, 0.563);
    }
}


