#title {
    color: rgb(186, 133, 9);
    font-family: "Sarabun", sans-serif;
}

body{
    background: linear-gradient(to bottom);
    font-size: 1.15em;
    text-align: justify;
    font-family: "Lato", sans-serif;
}